@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: white;
}

.container {
  display: flex;
  width: 90vw;
  height: 85vh;
  overflow: hidden;
}

.panel {
  border-radius: 50px;
  flex: 0.75;
  margin: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  transition: flex 0.7s ease-in;
}

.panel.active {
  flex: 5;
}

.panel h3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  font-size: 24px;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
